<!DOCTYPE html>
<html>
    <head>
        <title>Airline Staff Dashboard</title>
        <style type="text/css">
            table, th, td {
                border: 1px solid black;
                padding-left: 2px;
                padding-right: 2px;
            }
        </style>
    </head>
    <body>
        <h1>Welcome, {{ user_data['first_name'] }}</h1>
        <h1> The following is a list of all future flights </h1>
        <table>
            {% if future_flights %}
                {%for flights in future_flights%}
                <tr>
                    <td>{{ flight['flight_number'] }}</td>
                    <td>{{ flight['depart_date'] }}</td>
                    <td>{{ flight['depart_time'] }}</td>
                    <td>{{ flight['depart_airport_code'] }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">Currently, you have no future flights.</td>
                </tr>
            {% endif %}
        </table>
    </body>

</html>