<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flight Search and Status</title>
    </head>
    <body>
        <h1> User Registrations</h1>
        <section>
            <h2> Registration for Customer</h2>
            <form action="/registration_for_customer.html" method="GET">
                <label for= "email_address"> Email Address: </label>
                <input type="email" id="email_address" name="email_address" required> <br><br>
                
                <label for= "first_name"> First Name: </label>
                <input type="text" id= "first_name" name="first_name" required> <br><br>

                <label for= "password"> Password: </label>
                <input type="password" id="password" name="password" required> 
                
                <div class="address-section">
                    <h3>Address</h3>
                    <label for="building_number">Building Number</label>
                    <input type="text" id="building_number" name="building_number" required>
                
                    <label for="street">Street</label>
                    <input type="text" id="street" name="street" required>
                    
                    <label for="apt_number">Apartment Number</label>
                    <input type="text" id="apt_number" name="apt_number" required>
                    
                    <label for="city">City</label>
                    <input type="text" id="city" name="city" required>
                    
                    <label for="state">State</label>
                    <input type="text" id="state" name="state" required>
                    
                    <label for="zipcode">Zip Code</label>
                    <input type="text" id="zipcode" name="zipcode" required><br><br>
                </div>

                <label for="phone_number"> Phone Number: </label>
                <input type="tel" id="phone_number" name="phone_number" required><br><br>

                <label for="passport_number"> Passport Number: </label>
                <input type="text" id="passport_number" name="passport_number" required><br><br>

                <label for="passport_expiration"> Passport Expiration: </label>
                <input type="date" id="passport_expiration" name="passport_expiration" required><br><br>

                <label for="passport_country"> Passport Country: </label>
                <input type="text" id="passport_country" name="passport_country" required><br><br>

                <label for="date_of_birth"> Date of birth: </label>
                <input type="date" id="date_of_birth" name="date_of_birth" required><br><br>

                <input type="submit" value="Register as Customer">

            </form>
        </section>
    </body>
</html>